<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <!--users(全てのuser情報)を.each do |user|(一つ一つ展開していく)-->
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <!--user(部分テンプレートから持ってきた空のもの): user(値が入っているもの)-->
        <!--user(_buttonのuser): user(users.each do |user|の|user|)-->
        <td><%= render 'relationships/button', user: user %></td>
        <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
