<!--①部分テンプレートは全てローカル変数-->
<!--②部分テンプレート内は全て同じ表記((bjで統一する)-->
<!--③renderで呼び出す側も部分テンプレートと同じ表記-->
<% if obj.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>